.header {
    background-color: black;
    border-bottom: 2px solid #4a2bf8;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    padding: 0, 5rem;
    font-size: 1.5rem;
    align-items: center;
    justify-content: space-between;

}

.header span {
    font-size: 2rem;
    color: #4a2bf8;
    font-weight: 300;
    padding-left: 1%;
    transition: 1s;
    cursor: default;
}

.header span:hover {
    transform: scale(1.1);
}

.header nav {
    margin-right: 1 rem;
}

.header a {
    text-decoration: none;
    color: #fff;
    padding-inline: 0.5rem;
}